.button {
    appearance: none;
    border:none;
    height: 56px;
    padding: 16px 32px;
    color: var(--color-white);
    transition: opacity .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 6px;
    &:hover{
        transition: opacity .4s;
        opacity: 0.8;
    }
    &-dark{

    }
    &-no-border{
        border-radius: 0;
    }
    &-dark-purple{
        background-color: var(--color-title);
        border-color: var(--color-title);
    }
    &-primary{
        background-color: var(--dark-primary);
        border-color: var(--dark-primary);
    }
    &-danger{
        background-color: var(--danger);
        border-color: var(--danger);
    }
}