.input{
    border: none;
    appearance: none;
    height: 56px;
    padding: 17px 32px;
    background: var(--light-grey);
    color:var(--dark-primary);
    width: 100%;
    
    &::placeholder{
        color: var(--placeholder-grey);
    }
    &-label{
        width: 100%;
    }
}