.footer{
    padding:60px 80px 25px;
    background-color: var(--dark-primary);
    margin-top: auto;

    &-bottom{
        border-top: 1px solid var(--grey);
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
    }
    &-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 10px;
    }
    &-item{
        padding: 10px 5px;
        color:var(--color-white);
        transition: background-color 0.3s ease-in-out;
        border-radius: 6px;
        &:hover{
            transition: all 0.3s ease-in-out;
            background-color: var( --light-grey);
            color: var(--primary);
        }
    }
    &__copyright{
        color: var(--color-white);
    }
    &-socials{

        &__item{
            height: 24px;
            width: 24px;
            & img{
                width: 100%;
                height: 24px;
            }
        }
        &>*+*{
            margin-left: 15px;
        }
    }
}