ul{
    list-style: none;
    padding: 0;
}
.header{
    height: 65px;
    padding: 0 25px;
    width: 100%;
    & a{
        cursor: pointer;
    }
    &__title{
        text-align: left;
        color:var( --color-title);
        font-family: 'Clash Display';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
    }
    &__cart{
        margin-right: 16px;
    }
    &__user{
        &-menu{
            display: none;
            visibility: hidden;
            opacity: 0;
            flex-direction: column;
            width: 300px;
            height: max-content;
            border-radius: 6px;
            background-color:var(--grey);
            position: absolute;
            right: 0;
            top: 65px;
            padding: 20px 40px;
            z-index: 5;
            &.open{
                    display: flex;
                    opacity:1;
                    visibility: visible;
            }
            @include vp-767(){
                width: calc(100% + 50px);
                height: 100vh;
                left: -25px;
                right: initial;
         
            }
            color:var(--color-title);
            & a{
                color:var(--color-title);
                &:hover{
                    text-decoration: underline;
                }
            }
            &-admin{
                & a{
                    color:var(--danger);
                }
            }
            &-mobile{
                display: none;
                @include vp-767(){
                    display: block;
                }
            }
            &-auth{
                display: flex;
                align-items: center;
                & h4{
                    margin-left: 10px;
                    font-weight: 500;
                    text-decoration: underline;
                }
            }
            &>*+*{
                margin-top: 20px;
            }
        }
    }
    &__top{
        display: grid;
        position: relative;
        grid-template-columns: repeat(3,1fr);
        @include vp-767(){
            grid-template-columns: repeat(2,1fr);
        }
        align-items: center;
        height: 100%;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        &-right{
            display: flex;
            align-content: center;
            margin-left: auto;
        }
    }
    &__list{
        display: flex;
        align-items: center;
        justify-content: center;
        @include vp-767(){
            display: none;
        }
        &-link{
            &:not(:last-child){
                margin-right: 44px;
            }
            color: #726E8D;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}