.card-feature {
    padding: 48px;
    height: auto;
    min-height: 244px;
    max-width: 305px;
    background-color: var(--light-grey);
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__title,
    &__description {
        color: var(--dark-primary);
    }
    &__title,
    &__description {
        margin-top: 12px;
    }
    &__ico {
        width: 24px;
        height: 24px;
    }
}